<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <title>All Blogs</title>
</head>

<body>
    <header class="blog-header">
        <div class="blog-title">みんなのブログ</div>

        <nav class="site-nav">
            <ul>
                <li><a href="/blogs">ホーム（一覧）</a></li>
                <li><a href="/blogs/Post">新規投稿</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>みんなのブログ一覧</h1>
        <p th:if="${#lists.isEmpty(blogs)}">まだ投稿が０件だよ</p>
        <table th:if="${not #lists.isEmpty(blogs)}">
            <tr th:each="blogs : ${blogs}">
                <td>
                    <span th:text="${blogs.name}"></span>
                    <span th:text="${blogs.title}"></span>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>