<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>新規投稿</title>
</head>

<body>
    <header class="blog-header">
        <div class="blog-title">みんなのブログ</div>

        <nav class="site-nav">
            <ul>
                <li><a href="/blogs">ホーム（一覧）</a></li>
                <li><a href="/blogs/Post">新規投稿</a></li>
            </ul>
        </nav>
    </header>

    <h1>New Post</h1>
    <form th:action="@{/blogs}" th:object="${blogForm}" method="post">

    <div>
        <label>お名前</label>
        <input type="text" th:field="*{name}">
    </div>

    <div>
        <lavel>タイトル</lavel>
        <input type="text" th:field="*{title}">
    </div>

    <div>
        <label>本文</label>
        <textarea th:field="*{mainText}"></textarea>
    </div>

    <div class="button">
        <button type="submit">投稿</button>
        <a th:href="@{/blogs}">キャンセル</a>
    </div>
</form>
</body>
</html>

<!-- タイトル、本文、投稿 -->